/* //////////////////////////////////////////////////////////////////////////////// */
                            /* reset and general*/
/* //////////////////////////////////////////////////////////////////////////////// */
*{
  margin: 0;
  padding: 0; 

  font-family: 'Open Sans', sans-serif;
}

#errorBlock{
  display: none;
}
/* //////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */
                            /* Desktop */
/* //////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */
@media screen and (orientation: landscape){

    /* //////////////////////////////////////////////////////////////////////////////// */

                  /* header */
      header{
        height: 12vh;
        width: 100vw;
      }
      header img{
          padding: 3px;
      }
    /* //////////////////////////////////////////////////////////////////////////////// */


/* //////////////////////////////////////////////////////////////////////////////// */

            /* contentBlock */
    #Content{
      width: 80vw;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      background-color: #BF165E;
    }

    #Content input{
      display: block;
      margin: auto;
      height: 5vh;
      width: 78vw;
    }

    #Content > label{
      color: white;
      font-size: 2vw
    }

    #Content textarea{
      margin: auto;
      width: 78vw;
    }

    #Content button{
      background: #0B0F1A;
    }
    /* #Content:nth-child(2n){
      clear: right;
    } */
/* //////////////////////////////////////////////////////////////////////////////// */


    /* //////////////////////////////////////////////////////////////////////////////// */
                    /* footer */

    footer{
      position: absolute;
      bottom: 0px;
      width: 100vw;
      height: 16vh;

      display: flex;
      justify-content: space-around;

      background-color: #0B0F1A;
    }

    footer a{
      padding-top: 2vh;

      color: white;
    }

    /* //////////////////////////////////////////////////////////////////////////////// */

}

/* //////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */
                            /* End Desktop */
/* //////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */


/* //////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */
                            /* Mobile */
/* //////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */

@media screen and (orientation: portrait){

    /* //////////////////////////////////////////////////////////////////////////////// */

                /* header */
    header{
      height: 17vh;
      width: 100vw;
    }
    header img{
        width: 27vw;
        height: 15vh;
        padding: 3px;
    }
/* //////////////////////////////////////////////////////////////////////////////// */



                /* contentBlock */
        #Content{
          width: 80vw;
          margin: auto;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;

          background-color: #BF165E;
        }

        #Content input{
          display: block;
          margin: auto;
          height: 5vh;
          width: 78vw;
        }

        #Content > label{
          color: white;
          font-size: 2vh;
        }

        #Content textarea{
          margin: auto;
          width: 78vw;
        }
/* //////////////////////////////////////////////////////////////////////////////// */


/* //////////////////////////////////////////////////////////////////////////////// */
                /* footer */

    footer{
      position: absolute;
      bottom: 0px;
      width: 100vw;
      height: 16vh;

      display: flex;
      justify-content: space-around;

      background-color: #0B0F1A;
    }

    footer a{
      padding-top: 2vh;

      color: white;
    }

    /* //////////////////////////////////////////////////////////////////////////////// */

}

/* //////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */
                            /*End Mobile */
/* //////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */
