*{
  margin: 0;
  padding: 0;
font-family: 'Alegreya Sans SC', sans-serif;


}

header{
  height: 20vh;

}
header>img {
  max-height: 20vh;
float: left;
margin-top: 0;

}
header>div>img{
  width: 100%;
}
#person{
  border-radius: 50%;
}
header>h1{
  width: 70%;
  margin-left: 40%;
  padding-top:5%;
  font-size: 2em;
  padding-left: 2%;
  color:#BF165E;
}
#pinkDiv{
  position: absolute;
  top:20vh;
  width: 90%;
  height: 4%;
  background-color:#BF165E ;
  color: #BF165E;



}
.main {
  width: 90%;
  margin-left: 10%;

}
#personal{
  position: absolute;
  left: 0;
  top:20vh;
  padding: 2%;
  width: 10%;
  height: 100%;
  background-color: grey;
}
ul{
  list-style: none;
}
ul>li>p{
  display: none;
}

ul>li>a>img{
  margin-bottom: 5%;
  width: 80%;
}
footer{
  width: 100%;
  background-color: #BF165E;
  height: 10%;
}
footer p{

  text-align: center;
  letter-spacing: 2px;
}
footer a{
  color: white;
  margin-left:2%;
}
